{% extends 'base.html' %}

{% block header %}
  <h2 style="text-align:center; margin-top: 16px">{% block title %}Manage Account{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post">
    <div class="inner">
        <div class="row gtr-unifrom">
            <div class="col-6 col-12-xsmall">
                <label for="changeUser">Change Username</label>
                <input type="text" name="changeUser" id="changeUser" value="">
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="changePass">Change Password</label>
                <input type="text" name="changePass" id="changePass" value="">
            </div>
        </div>
        <div class="row gtr-unifrom">
            <div class="col-12 col-12-xsmall">
                <input class="fit" type="submit" value="Make Changes" style="margin-top: 16px">
            </div>
        </div>
    </div>
</form>
{% endblock %}