{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id="package_form" action="" method="post">
    <label for="title">Label Name</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <div class="panel-body">
          <input type ="submit" name="action" value="Delete">
    </div>
    <div class="panel-body">
          <input type ="submit" name="action" value="Search">
    </div>
    {% for order in orders %}
  <li><h2>{{ order[0] }}</h2></li>
{% endfor %}
<!--      <input type="submit" value="Delete">-->
  </form>
{% endblock %}