{% extends 'base.html' %}
{% block content %}
  {% if g.user %}
    
    <div class="inner">
        <div class="row">
            &nbsp;
            <ul class="actions fit">

                {% if g.user['professor'] == 1 %}
                <li><a href="{{ url_for('auth.file') }}" class="button primary fit action">Add Assignment</a></li>
                <li><a href="{{ url_for('auth.professor_class') }}" class="button primary fit action">Add Class</a></li>
                {% endif %}

                {% if g.user['professor'] == 0 %}
                <li><a href="{{ url_for('auth.submit_assignment') }}" class="button primary fit action">Submit Assignment</a></li>

                {% endif %}

            </ul>
        </div>
    </div>
  {% endif %}

  {% for post in posts %}
    {% if post['submission'] == 0  %}
      {% for class in classes %}
        {% if class['name'] == post['class_name']  %}
          <article class="post">
              <div class="table-wrapper">
                  <table>
                      <thead>
                          <tr>
                              <th>Class</th>
                              <th>Assignment Name</th>
                              <th>Assignment</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <h3>{{ post['class_name'] }}</h3>
                              </td>
                              <td>
                                  <h3>{{ post['title'] }}</h3>
                                  <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                              </td>
                              <td>
                                  <p class="body"><a href="{{post['body']}}"><a class="action" href="{{url_for('auth.serve_static', filename=post['body'])}}">{{ post['body'] }}</a></p>
                              </td>
                              
                          </tr>
                      </tbody>
                  </table>
              </div>
          </article>
        {% endif %}
      {% endfor %}
      {% for reg in registered %}
        {% if reg['name'] == post['class_name']  %}
          <article class="post">
              <div class="table-wrapper">
                  <table>
                      <thead>
                          <tr>
                              <th>Class</th>
                              <th>Assignment Name</th>
                              <th>Assignment</th>
                              <th>date</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <h3>{{ post['class_name'] }}</h3>
                              </td>
                              <td>
                                  <h3>{{ post['title'] }}</h3>
                              </td>
                              <td>
                                  <p class="body"><a href="{{post['body']}}"><a class="action" href="{{url_for('auth.serve_static', filename=post['body'])}}">{{ post['body'] }}</a></p>
                              </td>
                              <td>
                                  <div class="about"> on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </article>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if not loop.last %}

    {% endif %}
  {% endfor %}
{% endblock %}

