{% extends 'base.html' %}

{% block header %}
<h2 style="text-align:center">{% block title %}Enter File{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="inner">
        <div class="row gtr-unifrom">
            <div class="col-6 col-12-xsmall">
                <label for="class_name">class name </label>
                <input type="text" name="class_name" id="class_name" required>
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="assignment">assignment name </label>
                <input type="text" name="assignment" id="assignment" required>
            </div>

        </div>
        <div class="row gtr-unifrom">
            <div class="col-6 col-6-xsmall">
                <input class="fit" type="file" name="data" id="data" accept=".doc, .pdf, .csv" style="margin-top: 16px; float: right" required>
            </div>
            <div class="col-6 col-6-xsmall">
                <input class="fit" type="submit" value="Submit" style="margin-top: 16px">
            </div>
        </div>
    </div>
</form>
{% endblock %}
