{% extends 'base.html' %}

{% block header %}
  <h2 style="text-align:center; margin-top: 16px">{% block title %}Log In{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post">
    <div class="inner">
        <div class="row gtr-unifrom">
            <div class="col-6 col-12-xsmall">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>

        </div>
        <div class="row gtr-unifrom">
            <div class="col-12 col-12-xsmall">
                <input class="fit" type="submit" value="Log In" style="margin-top: 16px">
            </div>
        </div>
    </div>
</form>
{% endblock %}
