{% extends 'base.html' %}

{% block header %}
<h2 style="text-align:center; margin-top: 16px">{% block title %}Class Registration{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="inner">
        <div class="row gtr-unifrom">
            <div class="col-6 col-12-xsmall">
                <label for="title">Class Name (I.E. CMSC435)</label>
                <input type="text" name="label" id="username" required>
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="body">Unique Course ID</label>
                <textarea type="text" name="body" id="body" required>{{ request.form['body'] }}</textarea>
            </div>
        </div>
        <div class="row gtr-unifrom">
            <div class="col-12 col-12-xsmall">
                <input class="fit" type="submit" value="Submit" style="margin-top: 16px">
            </div>
        </div>
    </div>

</form>
{% endblock %}
