{% extends 'base.html' %}

{% block header %}
<h2 style="text-align:center; margin-top: 16px">{% block title %}Register{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post">
    <div class="inner">
        <div class="row gtr-unifrom">
            <div class="col-4 col-12-xsmall">
                <label for="firstname">First Name </label>
                <input type="text" name="firstname" id="firstname" required>
            </div>
            <div class="col-4 col-12-xsmall">
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" id="lastname" required>
            </div>
            <div class="col-4 col-12-xsmall">
                <label for="email">Email </label>
                <input type="text" name="email" id="email" style="margin-bottom: 16px" required>
            </div>
        </div>

        <div class="row gtr-unifrom">
            <div class="col-6 col-12-xsmall">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" style="margin-bottom: 16px" required>
            </div>
        </div>

        <div class="row gtr-unifrom">
            <div class="col-6 col-12-xsmall" style="margin-top: 16px; float: right">
                <input type="checkbox" id="professor" name="professor" style="float: right">
                <label for="professor" style="float: right">Professor?</label>
            </div>
            <div class="col-6 col-12-xsmall">
                <input class="fit" type="submit" value="Register" style="margin-top: 16px">
            </div>
        </div>
    </div>
</form>
{% endblock %}
