{% extends 'base.html' %}

{% block header %}
  <h2 style="text-align:center; margin-top: 16px">{% block title %}Enter File{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">

      <div class="inner">
          <div class="row gtr-unifrom">
              <div class="col-6 col-12-xsmall">
                  <label for="title">From (Must use username):</label>
                  <input type="text" name="label" id="username" required>
              </div>
              <div class="col-6 col-12-xsmall">
                  <label for="receiver">To (Class name if Announcement):</label>
                  <input type="text" name="receiver" id="receiver" required>
              </div>
          </div>
          <div class="row gtr-unifrom">
              <div class="col-12 col-12-xsmall">
                  <label for="body">Message:</label>
                  <textarea type="text" name="body" id="body" required>{{ request.form['body'] }}</textarea>
              </div>
          </div>
          <div class="row gtr-unifrom" style="margin-top: 16px">
              <div class="col-6 col-12-xsmall">
                  <input type="checkbox" name="announcement" id="announcement" style="float: right">
                  <label for="announcement" style="float: right">Send to Class?</label>
              </div>
              <div class="col-6 col-12-xsmall">
                  <input class="fit" type="submit" value="Submit" >
              </div>
          </div>
      </div>
  </form>
{% endblock %}