{% extends 'base.html' %}

{% block content %}
  {% for message in messages %}
    {% if g.user['username'] == message['sender'] %}
    <article class="post">
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th><h3 style="margin-top:8px">Receiver</h3></th>
                        <th><h3 style="margin-top:8px">Message</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3>{{ message['receiver'] }}</h3>
                        </td>
                        <td>
                            <p class="body">{{ message['message'] }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
         <hr>
    {% endif %}
    {% if not loop.last %}
    {% endif %}
  {% endfor %}
{% endblock %}