{% extends 'base.html' %}

{% block content %}
  {% for post in posts %}
    {% if post['submission'] == 1  %}
      {% for reg in registered %}
        {% if reg['name'] == post['class_name']  %}
    <article class="post">

        

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th><h3 style="margin-top:8px">Title</h3></th>
                        <th><h3 style="margin-top:8px">Class</h3></th>
                        <th><h3 style="margin-top:8px">Author</h3></th>
                        <th><h3 style="margin-top:8px">Message</h3></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3>{{ post['title'] }}</h3>
                        </td>
                        <td>
                            <h3>{{ post['class_name'] }}</h3>
                        </td>
                        <td>
                            <div class="about"> submitted by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                        </td>
                        <td>
                            <p class="body"><a href="{{post['body']}}"><a class="action" href="{{url_for('auth.serve_static', filename=post['body'])}}">{{ post['body'] }}</a></p>
                        </td>
                        {% if g.user['professor'] == 1  %}
                        <td>
                            <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                        </td> 
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if not loop.last %}

    {% endif %}
  {% endfor %}
{% endblock %}