{% extends 'base.html' %}

{% block content %}
  {% for message in messages %}
    {% if g.user['username'] == message['receiver']  %}
        <article class="post">
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th><h3 style="margin-top:8px">Author</h3></th>
                            <th><h3 style="margin-top:8px">Message</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h3>{{ message['sender'] }}</h3>
                            </td>
                            <td>
                                <p class="body">{{ message['message'] }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          
        </article>
         <hr>
    {% endif %}
    {% if 1 == message['announcement']  %}
        {% for class in classes %}
            {% if class['name'] == message['receiver']  %}
                <article class="post">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th><h3 style="margin-top:8px">Author</h3></th>
                                    <th><h3 style="margin-top:8px">Message</h3></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h3>{{ message['sender'] }}</h3>
                                    </td>
                                    <td>
                                        <p class="body">{{ message['message'] }}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
                 <hr>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if 1 == message['announcement']  %}
        {% for reg in registered %}
            {% if reg['name'] == message['receiver']  %}
                <article class="post">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th><h3 style="margin-top:8px">From</h3></th>
                                    <th><h3 style="margin-top:8px">Message</h3></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h3>{{ message['sender'] }}</h3>
                                    </td>
                                    <td>
                                        <p class="body">{{ message['message'] }}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
                 <hr>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if not loop.last %}
    {% endif %}
  {% endfor %}
{% endblock %}