<!doctype html>
<head>
    <title>{% block title %}{% endblock %} Canvas </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #3e8e41;
            }

        .dropdown {
            float: right;
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            right: 0;
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>
</head>
<body>
    <header id="header">
        <a class="logo" href="{{ url_for('index') }}">Canvas</a>
        
        <nav>



            {% if g.user %}
            <span style="padding: 16px">{{ g.user['username'] }}</span>


            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn" style="background: url(myimage.png)">Dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="{{ url_for('blog.account') }}">Manage Account</a>
                    {% if g.user['professor'] == 0 %}
                    <a href="{{ url_for('auth.student_class') }}">Register Class</a>
                    {% endif %}
                    {% if g.user['professor'] == 1 %}
                    <a href="{{ url_for('auth.professor_class') }}">Register Class</a>
                    {% endif %}
                    <a href="{{ url_for('auth.send_messages') }}">Send Message</a>
                    <a href="{{ url_for('blog.view_messages') }}">Sent</a>
                    {% if g.user['professor'] == 1 %}
                    <a href="{{ url_for('blog.view_submissions') }}">Submissions</a>
                    {% endif %}
                    <a href="{{ url_for('blog.view_inbox') }}">Inbox</a>
                    <a href="{{ url_for('blog.deleteAcc') }}">Delete Acc</a>
                    <a href="{{ url_for('auth.logout') }}">Log Out</a>

                    {% else %}
                    <a href="{{ url_for('auth.register') }}">Register</a>
                    <a href="{{ url_for('auth.login') }}">Log In</a>
                    {% endif %}
                </div>
            </div>


        </nav>

    </header>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

</body>

